<!-- loggedIn.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <link rel="stylesheet" href="/style.css"> <!-- Link to the style.css -->
</head>

<body>
    <h1>Welcome Back!</h1>
    <p>You have logged in <strong>
            <%= loginCount %>
        </strong> time(s).</p>

    <button class="btn-primary" onclick="window.location.href='/events'">Go to Events Page</button>
</body>

</html>